@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GillSans-Extended';
  src: url('../assets/fonts/gill-sans-mt-extended-condensed-bold.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
}

/* Ensure the entire app background remains black */
html, body, #root {
  height: 100%;
}

body {
  background-color: #000; /* black background */
  color: #fff; /* default text color white for better contrast */
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 44px !important;
    height: 44px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23D99414'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23D99414'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}